.better-clock {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;

    &__time {
        color: green;
        font-size: 48px;
    }
}